name: "CI"
on:
  pull_request:
    branches:
      - main

jobs:
  # unit tests
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - run: npm ci

    - run: npm test

  # test action works running from the graph
  setup-uipath-job:
    strategy:
      matrix:
        runner: [windows-latest]
        version: ['', '24.12.9111.31003']
        platform-version: ['', '25.10', '25.4', '24.10']
    runs-on: ${{ matrix.runner }}
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      - name: setup-uipath
        id: setup-uipath
        uses: ./
        with:
          version: ${{ matrix.version }}
          platform-version: ${{ matrix.platform-version }}

      - name: setup-dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            6.0.x
          
      - name: Echo outputs
        run: |
          echo "cliToolName: ${{ steps.setup-uipath.outputs.cliToolName }}"
          echo "cliVersion: ${{ steps.setup-uipath.outputs.cliVersion }}"

      - name: Run CLI Task Analyze
        run: uipcli package analyze ${{ github.workspace }}/SampleUiPathProject/project.json

  setup-ubuntu-test:
    strategy:
      matrix:
        runner: [ubuntu-latest]
        version: ['', '24.12.9111.31003']
        platform-version: ['', '25.10', '25.4', '24.10']
    runs-on: ${{ matrix.runner }}
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      - name: setup-uipath
        id: setup-uipath
        uses: ./
        with:
          version: ${{ matrix.version }}
          platform-version: ${{ matrix.platform-version }}

      - name: setup-dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            6.0.x

      - name: Echo outputs
        run: |
          echo "cliToolName: ${{ steps.setup-uipath.outputs.cliToolName }}"
          echo "cliVersion: ${{ steps.setup-uipath.outputs.cliVersion }}"

      - name: Run CLI Task Analyze
        run: uipcli package analyze ${{ github.workspace }}/SampleUiPathProject/project.json

  commitsar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Commitsar Action
        uses: aevea/commitsar@v1.0.2